.each-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 562px;
  margin-top: 80px;
}

.each-slide span {
  padding: 5px;
  font-size: 140px;
  font-weight: bolder;
  color: aliceblue;
}

#meetup {
  background-image: url('assets/img/friend.jpg');
  opacity: 0.7;
}

#explore {
  background-image: url('assets/img/explore.jpg');
  opacity: 0.7;
}

#share {
  background-image: url('assets/img/main.jpg');
  opacity: 0.6;
}


.app {
  height: 100%;
  display: flex;
  position: relative;
}

.btn-toggle {
  padding: 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 100px;
}

.custom-edit-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255,255,255,0); 
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#4B0082;
  background-color:thistle;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}

.custom-edit-button:hover{
   border-color: rgba(255,255,255,1);
}

@media all and (max-width:30em){
     .custom-edit-button{
    display:block;
    margin:0.2em auto;
}
}

.custom .p-scrollpanel-wrapper {
  border-right: 9px solid #f4f4f4;
}

.custom .p-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color .3s;
}

.custom .p-scrollpanel-bar:hover {
  background-color: #135ba1;
}

.colored-circle {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -2px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
